@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
}


nav{
    overflow: hidden;
    background-color: black;
    color: white;
    height: 54px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;

}

.gamecontainer{
    display:flex;
    
    justify-content: center;
    margin-top: 75px;
}

.container{
    display:grid;
    /* for responsiveness use repeat; */
    grid-template-columns: repeat(3,10vw);   
    grid-template-rows: repeat(3,10vw);
    justify-content: center;
}

.box{
    display:flex;
    font-size: 6vw;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border: 2px solid black;
}
.box:hover{
background-color: rgb(236, 220, 243);
}

.gameinfo{
    margin : 0 30px;
}
.boxtext{
    font-family: bold;
}
.imagebox img{
   width:0;
   transition: width 1s ease-in-out ;
}
.gameinfo h1{
    font-size: 2.5rem;
}
li{
    display: inline-block;
    margin: 21px
}

nav ul{
    list-style-type: none;
}

.bt-0{
    border-top:0; 
}
.bb-0{
    border-bottom:0; 
}
.bl-0{
    border-left:0; 
}
.br-0{
    border-right:0; 
}
.info{
    
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
#reset{
    margin: 0 23px;
    padding: 0.8vw;
    background-color: rgb(236, 220, 243);
    border-radius: 12px;
    cursor: pointer;
}

@media screen and (max-width:700px){
    .gamecontainer{
        flex-wrap:wrap;
    }
    .container{
        grid-template-columns: repeat(3,20vw);   
    grid-template-rows: repeat(3,20vw);
    }
    .gameinfo{
        margin-top: 34px;
        
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
}